# This is configuration file of ananas tests
# Copyright (C) 2005 Grigory Panov <gr1313 at mail.ru> Yoshkar-Ola,
# Ananas Project http://ananas.lrn.ru

# lines, begins with # - is comments
# variable set like this:

# varialbe name1=somebody

# if stop on error=true, testing stopped after first error
# else go to the next test

#stop on error=true

#############################################################
# database settings
#############################################################

# database user
db_user=root

# database password
#db_password=

# database type
# available values mysql, pgsql
db_type=mysql

# database host
db_host=localhost

# database port 
#db_port=12345

#############################################################
# run tests
#############################################################

# for disable running test, comment line with testname=true

# catalogue1 - test creates custom catalogue
catalogue1=true

# document1 - test creates custom document
# this test now not available
# document1=true

# document2 - simple test saldo
document2=true

# document3 - andanced test saldo 
document3=true

# bs-choice-open-close.pl - busines shema open\close
bs-choice-open-close.pl=true

# eof
